.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;

  max-width: 1000px;
  margin: auto;
  margin-bottom: 3rem;
}

.section {
  flex: 1;
}

.section:first-of-type {
  flex: 1.5;
}

.section ul {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
