:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: white;

  /* Colors */
  --bg: #0d012c;

  --orange-600: #ea580c;
  --orange-700: #c2410c;

  --blue-900: #171b37;
  --green-900: #17232d;
  --purple-900: #211137;
}

/* Reset */
body {
  background: var(--bg);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Component Styles */

/* Button */
.btn {
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 40px;
  color: white;
}

.btn--accent {
  background: var(--orange-600);
}

.btn--accent:hover {
  background: var(--orange-700);
}

/* Card */
.card {
  display: inline-block;
  border-radius: inherit;
  padding: 1.2em 1em;
  border-radius: 14px;
}

.card--blue {
  background: var(--blue-900);
}

.card--green {
  background: var(--green-900);
}

.card--purple {
  background: var(--purple-900);
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: sticky;
  top: 0;
  width: 100%;
}

.nav--filled {
  background: var(--bg);
}

.nav>ul {
  display: flex;
  gap: 1rem;

  align-items: center;
}
