:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;

  /* Colors */
  --orange-600: #ea580c;
  --orange-700: #c2410c;

}

/* Reset */
body {
  margin: 0;
}

button {
  border: none;
  background: transparent;
  font-size: 1em;
}

/* Component Styles */
.btn {
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 40px;
  color: white;
}

.btn--accent {
  background: var(--orange-600);
}

.btn--accent:hover {
  background: var(--orange-700);
}
