:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;

  /* Colors */
  --gray-300: #ddd8e6;
  --gray-500: #b3afba;

  --orange-600: #ea580c;
  --orange-700: #c2410c;

  --blue-900: #171b37;
  --green-900: #17232d;
  --purple-900: #211137;

  --bg: #0d012c;
  --fg: var(--gray-500);

}

/* Reset */
body {
  background: var(--bg);
  color: var(--fg);
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white
}

h1 {
  font-size: 4rem;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Component Styles */

/* Button */
.btn {
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 40px;
  color: white;
}

.btn--accent {
  background: var(--orange-600);
}

.btn--accent:hover {
  background: var(--orange-700);
}

/* Input */
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.4em 0.5em;
  border: 1px var(--gray-500) solid;
  border-radius: 40px;
  outline: none;
}

.input-group>input {
  background: transparent;
  color: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

.input-group>button[type="submit"] {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background: var(--orange-600);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;

  display: grid;
  place-items: center;
}

.input-group>button[type="submit"]:hover {
  background: var(--orange-700);
}

.input-group:focus {
  border-color: var(--gray-300);
}


/* Card */
.card {
  display: inline-block;
  border-radius: inherit;
  padding: 1.2em 1em;
  border-radius: 14px;
}

.card--blue {
  background: var(--blue-900);
}

.card--green {
  background: var(--green-900);
}

.card--purple {
  background: var(--purple-900);
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding-block: 0.7em;

  top: 0;
  width: 100%;
  z-index: 10;

  transition: background 0.2s;
}

.nav--filled {
  background: var(--bg);
}

.nav>ul {
  display: flex;
  gap: 1rem;

  align-items: center;
}

/* Logo */
.logo-container {
  color: white;
  font-weight: bold;
}

.logo__span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background: #2ed252;
  border-radius: 50%;
  margin-right: 0.2rem;
}

/* Hero */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 10rem 5rem;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__bg-overlay {
  content: "";
  inset: 0;
  position: absolute;
  background: radial-gradient(rgba(34, 24, 67, 0.8), rgba(24, 19, 73, 1));
  z-index: -1;
}

.hero h1 {
  margin-block-start: 0;
  font-weight: bold;
}

.container {
  max-width: 1000px;
  margin: auto;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.footer__section {
  flex: 1;
}

.footer__section:first-of-type {
  flex: 1.5;
}

.footer__section__title {
  color: white;
  font-weight: bold;
}

.footer__section ul {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

/* Utilities */
.mt-1 {
  margin-top: 1rem;
}
