.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0.7em 1em;

  top: 0;
  width: 100%;
  z-index: 10;

  transition: background 0.2s;
}

.filled {
  background: var(--bg);
}

.nav>ul {
  display: none;
}

@media screen and (min-width: 880px) {
  .nav>ul {
    display: flex;
    gap: 1rem;

    align-items: center;
  }
}
